---
import LegalLayout from '../../../layouts/LegalLayout.astro';
---

<LegalLayout title="特定商取引法に基づく表記" appId="picolle" lastUpdated="2026年3月1日">
  <table class="w-full text-sm border-collapse">
    <tbody>
      <tr class="border-b border-gray-200">
        <th class="py-3 pr-4 text-left font-medium text-gray-700 align-top w-1/3">販売業者</th>
        <td class="py-3 text-gray-600">石川 真太郎（個人事業主）</td>
      </tr>
      <tr class="border-b border-gray-200">
        <th class="py-3 pr-4 text-left font-medium text-gray-700 align-top">運営責任者</th>
        <td class="py-3 text-gray-600">石川 真太郎</td>
      </tr>
      <tr class="border-b border-gray-200">
        <th class="py-3 pr-4 text-left font-medium text-gray-700 align-top">所在地</th>
        <td class="py-3 text-gray-600">
          請求があった場合には遅滞なく開示いたします。<br />
          お問い合わせ先: support@daywizz.com
        </td>
      </tr>
      <tr class="border-b border-gray-200">
        <th class="py-3 pr-4 text-left font-medium text-gray-700 align-top">連絡先</th>
        <td class="py-3 text-gray-600">
          メール: <a href="mailto:support@daywizz.com" class="text-primary underline">support@daywizz.com</a><br />
          電話番号: 請求があった場合には遅滞なく開示いたします。
        </td>
      </tr>
      <tr class="border-b border-gray-200">
        <th class="py-3 pr-4 text-left font-medium text-gray-700 align-top">販売価格</th>
        <td class="py-3 text-gray-600">
          Premium プラン: 月額500円（税込）<br />
          ※ App Store の価格に準じます
        </td>
      </tr>
      <tr class="border-b border-gray-200">
        <th class="py-3 pr-4 text-left font-medium text-gray-700 align-top">支払方法</th>
        <td class="py-3 text-gray-600">Apple ID に登録された支払方法による決済（App 内課金）</td>
      </tr>
      <tr class="border-b border-gray-200">
        <th class="py-3 pr-4 text-left font-medium text-gray-700 align-top">支払時期</th>
        <td class="py-3 text-gray-600">購入手続き完了時に課金されます。自動更新型のサブスクリプションです。</td>
      </tr>
      <tr class="border-b border-gray-200">
        <th class="py-3 pr-4 text-left font-medium text-gray-700 align-top">商品の引渡時期</th>
        <td class="py-3 text-gray-600">購入手続き完了後、即時ご利用いただけます。</td>
      </tr>
      <tr class="border-b border-gray-200">
        <th class="py-3 pr-4 text-left font-medium text-gray-700 align-top">返品・キャンセル</th>
        <td class="py-3 text-gray-600">
          デジタルコンテンツの性質上、購入後の返品・返金はお受けできません。<br />
          解約は iOS の「設定」アプリ &gt; Apple ID &gt; サブスクリプション から行えます。
        </td>
      </tr>
      <tr>
        <th class="py-3 pr-4 text-left font-medium text-gray-700 align-top">動作環境</th>
        <td class="py-3 text-gray-600">iOS 17.0 以上</td>
      </tr>
    </tbody>
  </table>
</LegalLayout>
